@font-face {
  font-family: 'Nulshock Bold';
  src: url("../fonts/nulshock-bd.woff2") format("woff2"); }
/* FONTS */
h1, h2, h2 i, h3, h4 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #266ab8; }

a, a:hover, a:focus, a:active, .header__menu__item:hover, .header__menu__item:focus, .header__menu__item:active {
  text-decoration: none;
  outline: none; }

h1 {
  font-size: 3rem; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 3.25rem; } }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 3.5rem; } }

h2, h2 i {
  font-size: 2.6rem; }
  @media only screen and (max-width: 992px) {
    h2, h2 i {
      font-size: 2.85rem; } }
  @media only screen and (max-width: 768px) {
    h2, h2 i {
      font-size: 3.1rem; } }

h3 {
  font-size: 2.3rem; }
  @media only screen and (max-width: 992px) {
    h3 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 2.7rem; } }

h4 {
  font-size: 2rem; }
  @media only screen and (max-width: 992px) {
    h4 {
      font-size: 2.15rem; } }
  @media only screen and (max-width: 768px) {
    h4 {
      font-size: 2.3rem; } }

p, a, label {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem; }
  @media only screen and (max-width: 992px) {
    p, a, label {
      font-size: 2rem; } }
  @media only screen and (max-width: 768px) {
    p, a, label {
      font-size: 2rem; } }

a {
  color: #ed851c; }

a:hover {
  color: #f6a623;
  -moz-text-shadow: 0 0 5px #f6a623;
  -webkit-text-shadow: 0 0 5px #f6a623;
  text-shadow: 0 0 5px #f6a623; }

a:focus {
  color: #f6a623;
  -moz-text-shadow: 0 0 5px #f6a623;
  -webkit-text-shadow: 0 0 5px #f6a623;
  text-shadow: 0 0 5px #f6a623; }

a:active {
  color: #1c4d83;
  -moz-text-shadow: 0 0 5px #1c4d83;
  -webkit-text-shadow: 0 0 5px #1c4d83;
  text-shadow: 0 0 5px #1c4d83; }

p, label {
  color: #727272; }

a button, form input[type=submit], .quick-buttons button {
  font-weight: normal;
  border-radius: 5px;
  border-bottom: solid 3px;
  border-top: solid 3px; }

a button:focus, form input[type=submit]:focus, .quick-buttons button:focus {
  outline: none; }

a button {
  color: #fff;
  background-color: #266ab8;
  border-top-color: #266ab8;
  border-bottom-color: #1c4d83;
  padding: 20px;
  margin-bottom: 5px; }
  a button i, a button strong {
    color: #fff; }
a button:hover {
  background-color: #2ba7e7;
  border-top-color: #2ba7e7;
  border-bottom-color: #266ab8; }
a button:active {
  background-color: #1c4d83;
  border-top-color: #fff;
  border-bottom-color: #1c4d83; }

form input[type=submit] {
  color: #fff;
  background-color: #266ab8;
  border-top-color: #266ab8;
  border-bottom-color: #1c4d83;
  padding: 20px;
  margin-bottom: 5px; }
  form input[type=submit] i, form input[type=submit] strong {
    color: #fff; }
form input[type=submit]:hover {
  background-color: #2ba7e7;
  border-top-color: #2ba7e7;
  border-bottom-color: #266ab8; }
form input[type=submit]:active {
  background-color: #1c4d83;
  border-top-color: #fff;
  border-bottom-color: #1c4d83; }

.quick-buttons button {
  color: #888;
  background-color: #ddd;
  border-top-color: #ddd;
  border-bottom-color: #ccc;
  padding: 5px;
  margin-bottom: 3px; }
  .quick-buttons button i, .quick-buttons button strong {
    color: #888; }
.quick-buttons button:hover {
  background-color: #eee;
  border-top-color: #eee;
  border-bottom-color: #ddd; }
.quick-buttons button:active {
  background-color: #ccc;
  border-top-color: #fff;
  border-bottom-color: #ccc; }

.quick-buttons__button {
  margin-right: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important; }

/* RESET */
* {
  border: 0 none;
  margin: 0;
  color: #727272;
  text-decoration: none;
  list-style: none; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  text-align: center;
  background-color: #fff;
  overflow-x: hidden; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

nav {
  display: inline-block; }

pre {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px; }

.header__menu__item {
  text-align: left; }
  @media only screen and (max-width: 768px) {
    .header__menu__item {
      text-align: center; } }

.header {
  background-color: #266ab8;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  @media only screen and (max-width: 768px) {
    .header {
      position: static;
      padding: 30px; } }

.header__logo {
  display: inline-block;
  float: left; }
  @media only screen and (max-width: 768px) {
    .header__logo {
      float: none; } }

.header__logo__img {
  float: left;
  cursor: pointer;
  width: 100px;
  height: auto; }

.header__logo__txt {
  color: #2ba7e7;
  padding: 20px;
  float: left;
  text-align: left;
  font-family: "Varela Round", Helvetica, Arial, sans-serif; }

.header__menu {
  float: right; }
  @media only screen and (max-width: 768px) {
    .header__menu {
      width: 100%; } }

.header__menu__item {
  color: #fff;
  width: auto;
  float: left;
  padding: 20px;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .header__menu__item {
      float: none;
      display: inline-block; } }
  @media only screen and (max-width: 350px) {
    .header__menu__item {
      float: left; } }

.header__menu__item:hover {
  color: #f6a623;
  -moz-text-shadow: 0 0 5px #f6a623;
  -webkit-text-shadow: 0 0 5px #f6a623;
  text-shadow: 0 0 5px #f6a623; }

.header__menu__item:focus {
  color: #f6a623;
  -moz-text-shadow: 0 0 5px #f6a623;
  -webkit-text-shadow: 0 0 5px #f6a623;
  text-shadow: 0 0 5px #f6a623; }

.header__menu__item:active {
  color: #1c4d83;
  -moz-text-shadow: 0 0 5px #1c4d83;
  -webkit-text-shadow: 0 0 5px #1c4d83;
  text-shadow: 0 0 5px #1c4d83; }

.header__to-top {
  display: none;
  width: 71px;
  height: 71px; }
  @media only screen and (max-width: 768px) {
    .header__to-top {
      display: block;
      position: fixed;
      bottom: 2%;
      right: 5%;
      cursor: pointer;
      z-index: 1; } }

.article, .article--first {
  text-align: left; }

.article {
  margin-top: 150px;
  padding-top: 98px; }
  @media only screen and (max-width: 768px) {
    .article {
      margin-top: 100px;
      padding-top: 0; } }

.article--first {
  margin-top: 200px; }
  @media only screen and (max-width: 768px) {
    .article--first {
      margin-top: 30px; } }

.article__title {
  text-align: left;
  font-family: "Nulshock Bold", Helvetica, Arial, sans-serif;
  color: #ed851c; }

.article__subtitle {
  border-bottom: solid 1px #266ab8;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 15px; }

.article__subtitle--txt {
  margin: 0 0 5px;
  display: inline-block; }

.article__subtitle--arrow {
  width: 18px;
  height: 12px;
  display: inline-block;
  float: right;
  margin-top: 10px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 36px 12px;
  cursor: pointer; }

.article__txt--center, .article__txt--md-center, .article__txt--md-center--last {
  text-align: center; }

.article__txt--md-center {
  margin-bottom: 30px;
  padding-bottom: 30px; }
  @media only screen and (max-width: 992px) {
    .article__txt--md-center {
      border-bottom: solid 1px #c0c0c0; } }

.article__img {
  width: 100%;
  height: auto;
  padding-bottom: 30px; }

.article__img--too-big {
  width: 75%;
  padding-left: 28%;
  height: auto;
  padding-bottom: 30px; }

@media only screen and (max-width: 768px) {
  .article__img, .article__img--too-big {
    margin: 0 25%;
    padding-left: 0;
    padding-right: 0;
    width: 50%; } }
@media only screen and (max-width: 480px) {
  .article__img, .article__img--too-big {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%; } }

.colors__sample {
  background-color: #000;
  float: left; }

.colors__txt {
  text-align: left;
  float: left;
  width: auto;
  font-size: 1.5rem; }

.fontes, .fontes--last {
  padding-bottom: 30px;
  margin-bottom: 30px; }

.fontes {
  border-bottom: solid 1px #c0c0c0; }

.fontes__title--nulshock-bold, .fontes__title--varela-round, .fontes__title--open-sans {
  color: #000; }

.fontes__title--nulshock-bold {
  font-family: "Nulshock Bold", Helvetica, Arial, sans-serif; }

.fontes__title--varela-round {
  font-family: "Varela Round", Helvetica, Arial, sans-serif; }

.fontes__title--open-sans {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.fontes__webfont--open-sans:after {
  content: "<!-- HTML - usando Google Fonts -->\a\a<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>\a\a\a/* CSS - sem usar Google Fonts, usando font-face */\a\a @font-face { font-family: 'Open Sans'; src: url('open-sans.woff2') format('woff2'); }\a\a\a/* CSS */\a\a font-family: 'Open Sans', Helvetica, Arial, sans-serif;"; }

.fontes__webfont--varela-round:after {
  content: "<!-- HTML - usando Google Fonts -->\a\a<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>\a\a\a/* CSS - sem usar Google Fonts, usando font-face */\a\a @font-face { font-family: 'Varela Round'; src: url('varela-round.woff2') format('woff2'); }\a\a\a/* CSS */\a\a font-family: 'Varela Round', Helvetica, Arial, sans-serif;"; }

.fontes__webfont--nulshock-bold:after {
  content: "/* CSS - Usando font-face */\a\a @font-face { font-family: 'Nulshock Bold'; src: url('nulshock-bd.woff2') format('woff2'); }\a\a\a /* CSS */\a\a font-family: 'Nulshock Bold', Helvetica, Arial, sans-serif;"; }

.logo--fundos__bloco {
  margin-bottom: 30px; }

.logo--fundos__bloco--logo {
  width: 75% !important;
  height: auto !important;
  margin-left: 13%;
  margin-top: 20%; }

.logo--fundos__bloco--overlay {
  z-index: 1;
  margin-left: 75%;
  margin-top: 5%; }
  @media only screen and (max-width: 1170px) {
    .logo--fundos__bloco--overlay {
      margin-left: 72%;
      margin-top: 2%; } }
  @media only screen and (max-width: 992px) {
    .logo--fundos__bloco--overlay {
      margin-left: 80%;
      margin-top: 10%; } }
  @media only screen and (max-width: 768px) {
    .logo--fundos__bloco--overlay {
      margin-left: 90%;
      margin-top: 20%; } }
  @media only screen and (max-width: 660px) {
    .logo--fundos__bloco--overlay {
      margin-left: 85%;
      margin-top: 15%; } }
  @media only screen and (max-width: 480px) {
    .logo--fundos__bloco--overlay {
      margin-left: 75%;
      margin-top: 5%; } }

#logo--fundos--corretos .lightblue, #logo--fundos--incorretos .lightblue {
  background-color: #2ba7e7; }
#logo--fundos--corretos .blue, #logo--fundos--incorretos .blue {
  background-color: #266ab8; }
#logo--fundos--corretos .darkblue, #logo--fundos--incorretos .darkblue {
  background-color: #1c4d83; }
#logo--fundos--corretos .lightorange, #logo--fundos--incorretos .lightorange {
  background-color: #f6a623; }
#logo--fundos--corretos .orange, #logo--fundos--incorretos .orange {
  background-color: #ed851c; }
#logo--fundos--corretos .darkorange, #logo--fundos--incorretos .darkorange {
  background-color: #e56618; }
#logo--fundos--corretos .red, #logo--fundos--incorretos .red {
  background-color: #a51419; }
#logo--fundos--corretos .purple, #logo--fundos--incorretos .purple {
  background-color: #874691; }
#logo--fundos--corretos .pink, #logo--fundos--incorretos .pink {
  background-color: #ea4a8b; }
#logo--fundos--corretos .yellow, #logo--fundos--incorretos .yellow {
  background-color: #f0cd00; }
#logo--fundos--corretos .lightyellow, #logo--fundos--incorretos .lightyellow {
  background-color: #ffc; }
#logo--fundos--corretos .white, #logo--fundos--incorretos .white {
  background-color: #fff;
  border: solid 2px #ddd; }
#logo--fundos--corretos .lightgrey, #logo--fundos--incorretos .lightgrey {
  background-color: #c0c0c0; }
#logo--fundos--corretos .grey, #logo--fundos--incorretos .grey {
  background-color: #727272; }
#logo--fundos--corretos .darkgrey, #logo--fundos--incorretos .darkgrey {
  background-color: #434343; }
#logo--fundos--corretos .black, #logo--fundos--incorretos .black {
  background-color: #000; }

@media only screen and (max-width: 768px) {
  .logo--specs, .logo--specs--last {
    text-align: center;
    padding-bottom: 20px;
    margin: 30px 20px; } }

@media only screen and (max-width: 768px) {
  .logo--specs {
    border-bottom: solid 1px #c0c0c0; } }

.logo--specs--tamanho {
  height: 120px;
  width: 170px;
  border: solid 2px #eee;
  margin-bottom: 20px;
  background-image: url("../img/x.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 768px) {
    .logo--specs--tamanho {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto; } }

.logo--specs--tamanho__img--byline, .logo--specs--tamanho__img--simples {
  height: auto;
  display: inline-block; }

.logo--specs--tamanho__img--byline {
  width: 120px;
  margin-left: 23px;
  margin-top: 15px; }
  @media only screen and (max-width: 768px) {
    .logo--specs--tamanho__img--byline {
      margin-left: 5px; } }

.logo--specs--tamanho__img--simples {
  width: 35px;
  margin-left: 65px;
  margin-top: 45px; }
  @media only screen and (max-width: 768px) {
    .logo--specs--tamanho__img--simples {
      margin-left: 0; } }

.logo--specs--margem--img {
  margin: 10px auto 20px; }

.gui__title {
  border-bottom: solid 1px #c0c0c0;
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
