@import 'attr.scss';

%article {
	text-align: left;
}

.article {
	@extend %article;
	margin-top: 150px;
	padding-top: 98px;


	@media only screen and (max-width: $screen-sm-min) {
		margin-top: 100px;
		padding-top: 0;
	}
}

.article--first {
	@extend %article;
	margin-top: 200px;

	@media only screen and (max-width: $screen-sm-min) {
		margin-top: 30px;
	}
}

.article__title {
	text-align: left;
	font-family: $nulshock-bold;
	color: $orange;
}

.article__subtitle {
	border-bottom: solid 1px $blue;
	height: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 15px;
}

.article__subtitle--txt {
	margin: 0 0 5px;
	display: inline-block;
}

.article__subtitle--arrow {
	width: 18px;
	height: 12px;
	display:inline-block;
	float:right;
	margin-top:10px;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	background-size: 36px 12px;
	cursor: pointer;
}

%text-align-center {
	text-align: center;
}

.article__txt--center {
	@extend %text-align-center;
}

.article__txt--md-center {
	@extend %text-align-center;
	margin-bottom: 30px;
	padding-bottom: 30px;
	@media only screen and (max-width: $screen-md-min) {
		border-bottom: solid 1px $lightgrey;
	}
}

.article__txt--md-center--last {
	@extend %text-align-center;
}

.article__img {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

.article__img--too-big {
	width: 75%;
	padding-left: 28%;
	height: auto;
	padding-bottom: 30px;
}

.article__img, .article__img--too-big {
	@media only screen and (max-width: $screen-sm-min) {
		margin: 0 25%;
		padding-left: 0;
		padding-right: 0;
		width: 50%;
	}

	@media only screen and (max-width: $screen-xs-max) {
		margin: auto;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}