//CORES

$lightblue: #2ba7e7;
$blue: #266ab8;
$darkblue: #1c4d83;
$lightorange: #f6a623;
$orange: #ed851c;
$darkorange: #e56618;
$red: #a51419;
$purple: #874691;
$lightpink: #f6b0ca;
$pink: #ea4a8b;
$green: #4b9832;
$darkgreen: #15390d;
$yellow: #f0cd00;
$lightyellow: #ffc;
$white: #fff;
$lightgrey: #c0c0c0;
$grey: #727272;
$darkgrey: #434343;
$black: #000;

// RESPONSIVIDADE (Bootstrap)

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;