<article id="article--logo" class="article container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="article__title">Logo</h1>
		</div>
		<div class="col-sm-12 quick-buttons">
		</div>
		<div class="col-sm-12">
			<div class="article__subtitle" id="versoes_">
				<h2 class="article__subtitle--txt">Versões</h2>
				<div class="article__subtitle--arrow" id="versoes__arrow" onclick="showhide('versoes')"></div>
			</div>
		</div>
	</div>
	<div class="article__subcontent" id="versoes">
		<div class="row">
			<div class="col-md-6">
				<p class="article__txt--center"><strong>Versão com <i>byline</i></strong></p>
				<img class="article__img--too-big" src="img/dedig-logo_rgb_byline.png">
				<p class="article__txt--md-center">A versão com o <i>byline</i> é a preferencial, só deve ser substituída no caso das limitações descritas.</p>
			</div>
			<div class="col-md-6">
				<p class="article__txt--center"><strong>Versão simplificada</strong></p>
				<img class="article__img--too-big" src="img/dedig-logo_rgb.png">
				<p class="article__txt--md-center">Usada em casos da leitura estar prejudicada. Como em dimensões reduzidas ou impressões com menor resolução.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="article__txt--center"><strong>Versão de uma cor</strong></p>
				<img class="article__img--too-big" src="img/dedig-logo_pb_byline.png">
				<p class="article__txt--md-center">Para impressão em mídias limitadas a uma cor, caso não exista a limitação não usar essa versão.</p>
			</div>
			<div class="col-md-6">
				<p class="article__txt--center"><strong>Versão <i>outline</i></strong></p>
				<img class="article__img--too-big" src="img/dedig-logo_outline.png">
				<p class="article__txt--md-center--last">Uso restrito para mídias onde o preenchimento deve ser evitado, caso não exista essa necessidade usar as outras versões.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="article__subtitle" id="fundos_">
				<h2 class="article__subtitle--txt">Fundos</h2>
				<div class="article__subtitle--arrow" id="fundos__arrow" onclick="showhide('fundos')"></div>
			</div>
		</div>
	</div>
	<div class="article__subcontent" id="fundos">
		<div class="row">
			<div class="col-sm-12">
				<p><strong>Fundos aceitáveis</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" id="logo--fundos--corretos">
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco blue"></div>
					<div class="logo--fundos__bloco white"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco darkblue"></div>
					<div class="logo--fundos__bloco darkgrey"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco black"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco lightyellow"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p><strong>Fundos incompatíveis</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" id="logo--fundos--incorretos">
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco orange"></div>
					<div class="logo--fundos__bloco darkorange"></div>
					<div class="logo--fundos__bloco lightgrey"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco yellow"></div>
					<div class="logo--fundos__bloco red"></div>
					<div class="logo--fundos__bloco purple"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco lightblue"></div>
					<div class="logo--fundos__bloco pink"></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="logo--fundos__bloco lightorange"></div>
					<div class="logo--fundos__bloco grey"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="article__subtitle" id="especificacoes_">
				<h2 class="article__subtitle--txt">Especificações</h2>
				<div class="article__subtitle--arrow" id="especificacoes__arrow" onclick="showhide('especificacoes')"></div>
			</div>
		</div>
		<div class="article__subcontent" id="especificacoes">
			<div class="col-sm-4 logo--specs">
				<p><strong>Tamanho mínimo com <i>byline</i></strong></p>
				<div class="logo--specs--tamanho"><img src="img/dedig-logo_rgb_byline.png" class="logo--specs--tamanho__img--byline"></div>
				<p>Impresso: 250 x 165 mm<br/>Digital: 120 x 80 px</p>
			</div>
			<div class="col-sm-4 logo--specs">
				<p><strong>Tamanho mínimo sem <i>byline</i></strong></p>
				<div class="logo--specs--tamanho"><img src="img/dedig-logo_rgb.png" class="logo--specs--tamanho__img--simples"></div>
				<p>Impresso: 100 x 59 mm<br/>Digital: 35 x 21 px</p>
			</div>
			<div class="col-sm-4 logo--specs--last">
				<p><strong>Medida para margem</strong></p>
				<img src="img/dedig-logo_rgb_byline_margem.jpg" class="logo--specs--margem--img">
				<p>A margem deve ter largura da primeira letra "D", a margem deve ter a mesma espessura horizontalmente e verticalmente.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="article__subtitle" id="downloads-logo_">
				<h2 class="article__subtitle--txt">Downloads do logo</h2>
				<div class="article__subtitle--arrow" id="downloads-logo__arrow" onclick="showhide('downloads-logo')"></div>
			</div>
		</div>
	</div>
	<div class="article__subcontent" id="downloads-logo">
		<div class="row">
			<div class="col-sm-12"><p>Todas as versões do logo em diferentes extensões de arquivo:</p></div>
			<div class="col-sm-12">
				<a href="download/logo/Dedig-logo-versoes-ai.zip" download="Dedig-logo-versoes-ai.zip"><button>Download <i>.ai</i></button></a>
				<a href="download/logo/Dedig-logo-versoes-eps.zip" download="Dedig-logo-versoes-eps.zip"><button>Download <i>.eps</i></button></a>
				<a href="download/logo/Dedig-logo-versoes-svg.zip" download="Dedig-logo-versoes-svg.zip"><button>Download <i>.svg</i></button></a>
				<a href="download/logo/Dedig-logo-versoes-png-jpg-psd.zip" download="Dedig-logo-versoes-png-jpg-psd.zip"><button>Download <i>.png .jpg .psd</i></button></a>
			</div>
		</div>
	</div>
</article>