	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Dedig | Guidelines</title>
	<script type="text/javascript" src="local/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="local/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="local/bootstrap.min.css">
	<link rel='stylesheet' type='text/css' href='local/varela.css'>
	<link rel='stylesheet' type='text/css' href='local/open-sans.css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" type="image/x-icon" href="img/logo-favicon.ico">