// Nulshock webfont
@font-face {
  font-family: 'Nulshock Bold';
  src: url('../fonts/nulshock-bd.woff2') format('woff2');
}

/* FONTS */

$nulshock-bold: 'Nulshock Bold', Helvetica, Arial, sans-serif;
$varela-round: 'Varela Round', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;

// MIXINS

@mixin text-shadow($color) { 
	-moz-text-shadow: 0 0 5px $color;
	-webkit-text-shadow: 0 0 5px $color;
	text-shadow: 0 0 5px $color;
}

@mixin font__lg ($size-lg) {
	font-size: $size-lg;
}

@mixin font__md__sm ($size-md, $size-sm) {
	@media only screen and (max-width: $screen-md-min) {
		font-size: $size-md;
	}
	@media only screen and (max-width: $screen-sm-min) {
		font-size: $size-sm;
	}
}

// PLACEHOLDERS

%h {
	font-family: $varela-round;
	font-weight: bold;
	color: $blue;
}

%a {
	text-decoration: none;
	outline: none;	
}

// CSS

h1 {
	@extend %h;
	@include font__lg (3rem);
	@include font__md__sm (3.25rem, 3.5rem);
}

h2, h2 i {
	@extend %h;
	@include font__lg (2.6rem);
	@include font__md__sm (2.85rem, 3.1rem);
}

h3 {
	@extend %h;
	@include font__lg (2.3rem);
	@include font__md__sm (2.5rem, 2.7rem);
}

h4 {
	@extend %h;
	@include font__lg (2rem);
	@include font__md__sm (2.15rem, 2.3rem);
}

p, a, label {
	font-family: $open-sans;
	@include font__lg (2rem);
	@include font__md__sm (2rem, 2rem);
}

a {
	color: $orange;
	@extend %a;
}
	
a:hover {
	color: $lightorange;
	@extend %a;
	@include text-shadow($lightorange);
}

a:focus {
	color: $lightorange;
	@extend %a;
	@include text-shadow($lightorange);
}

a:active {
	color: $darkblue;
	@extend %a;
	@include text-shadow($darkblue);
}

p, label { color: $grey; }