%fontes {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.fontes {
	@extend %fontes;
	border-bottom: solid 1px $borderColor;
}

.fontes--last {
	@extend %fontes;
}

%fontes__title {
	color: $fontTitle;
}

.fontes__title--nulshock-bold {
	@extend %fontes__title;
	font-family: $nulshock-bold;
}

.fontes__title--varela-round {
	@extend %fontes__title;
	font-family: $varela-round;
}

.fontes__title--open-sans {
	@extend %fontes__title;
	font-family: $open-sans;
}

.fontes__webfont--open-sans:after {
	content: "<!-- HTML - usando Google Fonts -->\a\a<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>\a\a\a/* CSS - sem usar Google Fonts, usando font-face */\a\a @font-face { font-family: 'Open Sans'; src: url('open-sans.woff2') format('woff2'); }\a\a\a/* CSS */\a\a font-family: 'Open Sans', Helvetica, Arial, sans-serif;";
}

.fontes__webfont--varela-round:after {
	content: "<!-- HTML - usando Google Fonts -->\a\a<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>\a\a\a/* CSS - sem usar Google Fonts, usando font-face */\a\a @font-face { font-family: 'Varela Round'; src: url('varela-round.woff2') format('woff2'); }\a\a\a/* CSS */\a\a font-family: 'Varela Round', Helvetica, Arial, sans-serif;";
}

.fontes__webfont--nulshock-bold:after {
	content: "/* CSS - Usando font-face */\a\a @font-face { font-family: 'Nulshock Bold'; src: url('nulshock-bd.woff2') format('woff2'); }\a\a\a /* CSS */\a\a font-family: 'Nulshock Bold', Helvetica, Arial, sans-serif;";
}