%fontes {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.fontes {
	@extend %fontes;
	border-bottom: solid 1px $borderColor;
}

.fontes--last {
	@extend %fontes;
}

%fontes__title {
	color: $fontTitle;
}

{% for font in site.data.style.fonts.local %}

.fontes__title--{{font.name | slugify }} {
	@extend %fontes__title;
	font-family: ${{font.name | slugify }};
}

{% endfor %}