<article class="article--first container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="article__title">{{site.data.style.brandName}} Guidelines</h1>
		</div>
		<div class="col-sm-12">
			<div class="article__subtitle">
				<h2 class="article__subtitle--txt">Sobre</h2>
				<div class="article__subtitle--arrow" id="sobre__arrow" onclick="showhide('sobre')"></div>
			</div>
		</div>
		<div class="article__subcontent" id="sobre">
			<div class="col-sm-12">
				<p>Guia de estilos para uso de cores, fontes, do logo e elementos gráficos da marca {{site.data.style.brandName}}</p>
			</div>
		</div>
	</div>
</article>